<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629360165632-36ff44511d3f6otnmpqm795l56rufcpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629360165632-36ff44511d3f6otnmpqm795l56rufcpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629360165632-f9gcm8a9033jrvqr8g3k3q0gm3ov6uc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-189EJWkrtbtWyk5GQChoB7MdRVKQL5U</string>
	<key>GCM_SENDER_ID</key>
	<string>629360165632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttter-auth-83789</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttter-auth-83789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629360165632:ios:cb08ace8644cce0366a9e5</string>
</dict>
</plist>